
<div class="container">
  <div class="form-group" align="center">
    <label for="usr">Login:</label>
    <input #login type="text" class="form-control" (keyup.enter)="updateList(login.value)">
  </div>
</div>

<div [ngGrid]="tableConfig">
    <div *ngFor="let card of cards; let i = index" [(ngGridItem)]="configs[i]">
        <a align="center" class="list-group-item list-group-item-info" (click)="updatePopUp(i)" data-toggle="modal" data-target="#popUp">
            <button type="button" class="close" (click)="deleteCard(i)" onclick="event.stopPropagation();"><font color="red">&times;</font></button>
            <h4 class="list-group-item-heading">{{card.date.getDate()}}.{{card.date.getMonth() + 1}}.{{card.date.getFullYear()}}</h4>
            <p class="list-group-item-text">Summary time: {{getSummaryTime(i)}}</p>
        </a>
    </div>
    <div [(ngGridItem)]="addConfig">
        <a align="center" class="list-group-item list-group-item-success" (click)="createNewCard()" data-toggle="modal" data-target="#createPopUp">
          <h4>Add card</h4>
        </a>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="popUp" role="document">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 align="center" class="modal-title">{{cardForPopUp.date.getDate()}}.{{cardForPopUp.date.getMonth() + 1}}.{{cardForPopUp.date.getFullYear()}}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-5">Works:</div>
              <div class="col-sm-4">Time:</div>
            </div>
            <a class="list-group-item" *ngFor="let work of cardForPopUp.works; let i = index">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-7">
                    <input #title type="text" class="form-control" value={{work.title}} (change)="updateWorkTitle(i,title.value)">
                  </div>
                  <div class="col-sm-4">
                    <input #time type="text" class="form-control" value={{work.time}} (change)="updateWorkTime(i,time.value)">
                  </div>
                  <div class="col-sm-1">
                    <button type="button" class="btn btn-danger" (click)="deleteWork(i)">X</button>
                  </div>
                </div>
              </div>
            </a>
            <br>
            <button type="button" class="btn btn-primary btn-block" (click)="addWork()">+</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="applyCard()" data-dismiss="modal">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="modal fade" id="createPopUp" role="document">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <input #date type="text" class="form-control" value={{cardForPopUp.date}} (change)="updateCardDate(date.value)">
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">Works:</div>
                <div class="col-sm-4">Time:</div>
              </div>
              <a class="list-group-item" *ngFor="let work of cardForPopUp.works; let i = index">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-7">
                      <input #title type="text" class="form-control" value={{work.title}} (change)="updateWorkTitle(i,title.value)">
                    </div>
                    <div class="col-sm-4">
                      <input #time type="text" class="form-control" value={{work.time}} (change)="updateWorkTime(i,time.value)">
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-danger" (click)="deleteWork(i)">X</button>
                    </div>
                  </div>
                </div>
              </a>
              <br>
              <button type="button" class="btn btn-primary btn-block" (click)="addWork()">+</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="applyCard()" data-dismiss="modal">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>